// _components.scss
//

$body-copy-col: #404040;
$B-body-space: 16px;

// Set similar defaults as Live for all components.
// We don't use .markup in the Demo tab, which is why
// we need to set these defaults for that here too.
.markup,
.panel--demo {
  color: #000;
  font-family: Arial, sans-serif;

  h1,
  h2,
  h3 {
    letter-spacing: 0;
  }
  p {
    margin-top: $B-body-space;
    margin-bottom: $B-body-space;
  }
}

// CONTAINERS
/////////////|

// Used to get content in the 'Stream column'.
// The grid implementation on Live handles this.
%fit--stream {
  margin: 0;

  @include respond-to(C) {
    margin: 0 16.66667%;
  }
}

// The Posts container
.stream {
  .stream__posts {
    margin-right: 16px;
    margin-left: 16px;

    > .stream__post:first-child {
      border-top: none;
      padding-top: 0;

      .timestamp time {
        margin-top: 0;
      }
      .stream__content {
        border: none;
        padding-top: 0;
      }
    }
  }
}

// A Post container
// Contains: Timestamp, Content
.stream {
  .stream__post {
    border-top: 1px solid #E5E5E5;
    margin-top: 24px;
    padding-top: 24px;

    @include respond-to(C) {
      border-top: none;
      padding-top: 0;
    }
  }

  // A variation of .stream__post for breaking news
  .stream__post--breaking {
    background-color: #F5F5F5;
    border-top: none;
    border-left: 4px solid #CC0101;
    margin-right: -16px;
    margin-left: -16px;
    padding: 16px 16px 16px 16-4px;

    @include respond-to(C) {
      border-left-width: 6px;
      padding-left: 16-6px;
    }

    .timestamp time {
      color: #CC0101;
      margin-top: 2px;
    }
    .body-copy p:last-child {
      margin-bottom: 0;
    }
    .stream__content {

      @include respond-to(C) {
        border-top: none;
        padding-top: 0;
      }
    }

    // For all stream posts that follow a breaking one:
    + .stream__post {
      border-top: none;
      margin-top: 0;

      .stream__content {

        @include respond-to(C) {
          border-top: none;
        }
      }
    }
  }

    .stream__content {
      @extend %fit--stream;

      @include respond-to(C) {
        border-top: 1px solid #E5E5E5;
        padding-top: 24px;
      }
    }
}

// DEMO TAB
// Some components' styles change when in use.
/////////////////////////////////////////////|

.panel--demo {

  .stream {
    .stream__posts {
      @extend %clearfix;
    }
    .timestamp {
        float: left;

      @include respond-to(C) {
        width: 16.66667%;
      }
    }
  }
}

// TOP STORIES
// Section
//////////////|

.top-stories {

  .title {

    .heading {
      @extend %double-pica;
      color: #5A5A5A;
      margin-top: 16px;
      margin-bottom: 12px;

      @include respond-to(C) {
        margin-top: 20px;
        margin-bottom: 16px;
      }
    }

      // Red line, or 'branch'.
      .heading__stitch {
        background-color: #CC0101;
        height: 1px;
        margin-top: 4px;
        width: 40px;

        @include respond-to(C) {
          margin-top: 4px;
        }
        @include respond-to(D) {
          margin-top: 6px;
        }
      }
  }

} // End of .top-stories component.

// STREAM
// Section
//////////|

.stream {


  // Furniture tab
  // -------------

  .header {

    .header-wrap {
      background: #EEE;
      overflow: hidden; // Safety net
      padding-right: 8px;
      padding-left: 8px;
      position: relative;

      @include respond-to(C) {
        padding-right: 16px;
        padding-left: 16px;
      }

      // Heading group.

      h2 {
        @extend %great-primer;
        font-weight: normal;
        height: 52px;
        margin-top: 0;
        margin-bottom: 0;
        overflow: hidden;
        padding-right: 48px;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

        // Latest label.
        .label {
          @extend %minion;
          background-color: #000;
          color: #FFF;
          margin-right: 2px;
          padding: 2px 4px;
          text-transform: uppercase;
        }

        // Current locale.
        .location {}

        .label,
        .location {
          line-height: 52px;
          vertical-align: middle;
        }

      // Refresh button group.
      button {
        @extend %pica;
        background-color: #777;
        color: #FFF;
        height: 36px;
        margin-top: -18px;
        padding-right: 8px;
        padding-left: 8px;
        position: absolute;
          top: 50%; right: 8px;

        transition: background-color 250ms ease-out;

        @include respond-to(C) {
          right: 16px;
        }
        @include respond-to(D) {}

        &:hover {
          background-color: #888;
          transition-duration: 0ms;
        }

        // When refreshing:
        &.refreshing {
          background-color: #888;

          .header__refresh-icon {
            animation: spin 600ms linear infinite;
          }
        }
      }
    }

    .header__refresh-icon,
    .header__refresh-text {
      line-height: 36px;
      vertical-align: middle;
    }

    .header__refresh-icon {}
    .header__refresh-text {
      display: none;
      margin-right: 2px;

      @include respond-to(C) {
        display: inline;
      }
    }
  } // /.header

  .timestamp {

    time {
      @extend %pica;
      color: #606060;
      display: block;
      margin-bottom: 8px;

      @include respond-to(C) {
        margin-top: 24px;
        padding-right: 32px;
        text-align: right;
      }
    }
  }

  .show-more {

    a {
      @extend %fit--stream;

      color: #FFF;
      border-bottom: 2px solid #315E2C;
      background-color: #499243;
      display: block;
      font-size: 16px;
      font-weight: bold;
      line-height: 22px;
      margin-top: 36px;
      padding: 11px 10px 9px;
      text-align: center;
      -webkit-font-smoothing: antialiased;

      &:hover {
        background-color: #4F9E48;
      }
      &:active {
        margin-top: 36px+1;
        border-bottom-width: 1px;
      }
    }
  }

  .refresh-error,
  .show-more-error {

    p {
      color: #999;
    }
  }


  // Content tab
  // -----------

  .headline {

    .headline__label {
      @extend %minion;
      background-color: #CC0101;
      color: #FFF;
      font-weight: normal;
      float: left;
      margin-top: 3px;
      margin-left: 8px;
      padding: 2px 4px;
      text-transform: uppercase;

      @include respond-to(C) {
        margin-top: 5px;
        margin-right: 8px;
        margin-left: 0;
      }
      @include respond-to(D) {
        margin-top: 2px;
      }
    }
    h2 {
      @extend %double-pica;
      clear: left;
      font-weight: bold;
      margin-top: 0;
      margin-bottom: 12px;

      @include respond-to(C) {
        display: inline;
      }
    }
  }

  .body-copy {

    p {
      @extend %pica;
      color: $body-copy-col;
      -webkit-font-smoothing: antialiased;
    }
  }

  // Specific rules for CPS articles that follow a contributor
  .contributor + .body-copy--cps {

    .cps__thumb {
      padding-right: 0;
      width: 100%;

      // 'Mini-break point' (non-group)
      @media (min-width: 480px) {
        padding-right: 12px;
        width: 34%;
      }

      @include respond-to(D) {
        padding-right: 16px;
      }
    }
  }

  .body-copy--cps {
    @extend %clearfix;
    clear: both;

    @include respond-to(C) {
      clear: none;
    }
  }
    .cps__thumb {
      display: block;
      margin-top: 2px;
      margin-bottom: $B-body-space;
      width: 100%;

      @media (min-width: 480px) {
        float: left;
        padding-right: 12px;
        width: 34%;
      }

      @include respond-to(D) {
        padding-right: 16px;
      }
    }
    .cps__summary {
      clear: none;

      // 'Mini-break point' (non-group)
      @media (max-width: 479px) {
        clear: both;
      }
      @media (min-width: 480px) {
        margin-left: 34%;
      }

      p {
        margin-top: $B-body-space;
        margin-bottom: $B-body-space - 4; // Bring the 'Read the full story' button closer
      }
      a {
        @extend %brevier;
        background-color: #FDFDFD;

        border-top: 1px solid #DDD;
        border-right: 1px solid #DDD;
        border-bottom: 1px solid #DDD;
        border-left: 1px solid #DDD;

        display: inline-block;
        padding: 6px 10px 6px 10px;

        &:hover {
          color: #1167A8;

          &::after {
            @extend .icon--chevron-r-hover;
          }
        }
        &::after {
          @extend .icon, .icon--xxs;
          @extend .icon--chevron-r;
          content: '';
          margin-left: 6px;
        }
      }
    }

  .inline-link {

    p {
      @extend %pica;
      color: $body-copy-col;
      -webkit-font-smoothing: antialiased;

      > a {
        background-image: linear-gradient(to bottom, rgba(0,0,0,0) 50%, rgba(0,0,0,0.6) 50%);
        background-repeat: repeat-x;
        background-size: 2px 2px;
        background-position: 0 15px;

        @include respond-to(C) {
          background-position: 0 18px;
        }
        @include respond-to(D) {
          background-position: 0 15px;
        }

        &:hover {
          background-image: linear-gradient(to bottom, rgba(17,103,168,0) 50%, rgba(17,103,168,0.6) 50%);
          color: #1167A8;
        }
      }
    }
  }
  .inline-link--external {

    p {

      > a {

        &::after {
          @extend .icon, .icon--xs;
          @extend .icon--external-copy;
          content: '';
          margin-right: 2px;
          margin-left: 4px;
        }
        &:hover {
          color: #10619E;

          &::after {
            @extend .icon--external-hover;
          }
        }
      }
    }
  }

  .unordered-list {

    p,
    ul {
      @extend %pica;
      color: $body-copy-col;
      -webkit-font-smoothing: antialiased;
    }
    ul {
      padding-left: 1em;
    }
      li {
        margin-bottom: 8px;

        &:last-child {
          margin-bottom: 0;
        }
      }
  }

  .contributor {}
  .contributor--person {

    .contributor__avatar {

      > img {
        background-color: #EEE;
        border-radius: 50%;
      }
    }
  }
  .contributor__wrap {
    margin-top: 12px;
    margin-bottom: 12px; // Ensure margin collapsing - https://developer.mozilla.org/en-US/docs/Web/CSS/margin_collapsing
  }
    .contributor__avatar,
    .contributor__body {
      display: table-cell;
      vertical-align: middle;
    }

    .contributor__avatar {
      padding-right: 8px;

      > img {


        display: block;
        max-width: none;
      }
    }
    .contributor__body {
      width: 100%;

      p {
        @extend %brevier;
        color: #B3B3B3;
        margin-top: 0;
        margin-bottom: 0;

        &.contributor__name {
          margin-bottom: 4px;
        }
      }
      strong {
        color: $body-copy-col;
        font-weight: normal;
      }
    }

  // Post Types

  .quote {

    blockquote {
      @extend %blockquote;
      color: $body-copy-col;
      font-family: Georgia, serif;
      font-style: italic;
      position: relative;

      &::before {
        @extend .icon, .icon--m;
        @extend .icon--quote;
        content: '';
        position: absolute;
          top: 3px; left: -32px;
      }

      cite {
        @extend %pica;
        color: $body-copy-col;
        font-family: Arial, sans-serif;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
      }
    }
  }

  .email {

    blockquote {
      @extend %pica;
      color: $body-copy-col;
      position: relative;
      -webkit-font-smoothing: antialiased;

      &::before {
        @extend .icon, .icon--m;
        @extend .icon--email;
        content: '';
        position: absolute;
          top: 1px; left: -32px;
      }

      cite {
        font-style: normal;
      }
    }
  }

  .tweet {}
    .tweet__wrap {
      border: 1px solid #DDD;
      padding: 16px 16px 12px;
    }
      .tweet__image,
      .tweet__title-group {
        display: table-cell;
        vertical-align: middle;
      }

      .tweet__image {
        padding-right: 8px;

        > img {
          background-color: #EEE;
          display: block;
          height: 40px;
          width: 40px;
          max-width: none;
        }
      }
      .tweet__title-group {
        width: 100%;

        p {
          @extend %brevier;
          color: #B3B3B3;
          margin-top: 0;
          margin-bottom: 0;

          &.contributor__name {
            margin-bottom: 4px;
          }
        }
        strong {
          color: $body-copy-col;
          font-weight: normal;
        }
      }
      .tweet__body {

        p {
          @extend %pica;
          color: $body-copy-col;
          font-family: Georgia, serif;

          > a {
            color: #000;

            &::after {}
            &:hover {
              color: #10619E;
            }
          }
        }
        img {
          display: block;
          max-width: 100%;
        }
      }
      .tweet__footer {
        @extend %clearfix;

        .icon--twitter {
          float: left;
          margin-top: 7px;
        }
        time {
          @extend %brevier;
          color: #B3B3B3;
          float: left;
          margin-top: 8px;
          margin-left: 4px;
        }
      }

  .cps-tweet {}
    .cps-tweet__wrap {
      margin-left: 32px;
      position: relative;

      p {
        @extend %pica;
        color: $body-copy-col;
        -webkit-font-smoothing: antialiased;

        > a {
          color: #000;

          &::after {}
          &:hover {
            color: #10619E;
          }
        }
      }

      &::before {
        @extend .icon, .icon--m;
        @extend .icon--twitter;
        content: '';
        position: absolute;
          top: 1px; left: -32px;
      }
    }

  .sms {

    blockquote {
      @extend %pica;
      color: $body-copy-col;
      position: relative;
      -webkit-font-smoothing: antialiased;

      &::before {
        @extend .icon, .icon--m;
        @extend .icon--sms;
        content: '';
        position: absolute;
          top: 2px; left: -32px;
      }

      cite {
        font-style: normal;
      }
    }
  }

  .media {
    position: relative;

    > img,
    .markup img {
      display: block;
      margin: 16px auto 0;
      width: 100%; // Always fill the container - upscale if necessary.
    }
  }
  .media--portrait {

    > img,
    .markup img {
      max-height: 358px; // Prevent portrait images being taller than their 16:9 counterparts
      max-width: 100%;
      width: auto;
    }
  }
    .media__cta {
      display: flex;
        align-items: center;
        justify-content: center;
      height: 48px;
      position: absolute;
        bottom: 0; left: 0;
      width: 48px;

      .icon {
        line-height: 48px;
      }
    }
    .media__cta--video {
      background-color: rgba(0,0,0,0.75);
      height: 64px;
      width: 64px;
    }
    .media__cta--gallery {
      background-color: #FFF;
    }

} // End of .stream component.

// SURVEY PROMO
// Section
//////////////|

.survey-promo {

  .prime-promo {}

  .in-page {
    @extend %clearfix;
    background-color: #1F1F1F;
    color: #FFF;
    margin-top: 32px;
    margin-bottom: 32px;
    padding: 21px 8px 19px;
    text-align: center;

    @include respond-to(C) {
      margin-top: 40px;
      margin-bottom: 40px;
      padding: 20px 16px;
    }
  }
    .in-page__hook {
      font-size: 16px;
      line-height: 1;
      margin-top: 0;
      margin-bottom: 12px;
      -webkit-font-smoothing: antialiased;

      @include respond-to(C) {
        font-size: 18px;
        float: left;
        margin-top: 9px;
        margin-bottom: 0;
      }
    }
    .in-page__cta {
      background-color: #FFF;
      color: #1F1F1F;
      display: inline-block;
      font-size: 15px;
      font-weight: bold;
      line-height: 1;
      padding: 9px 12px 10px;

      &:hover {
        color: #1167A8;
      }

      @include respond-to(C) {
        float: right;
      }
    }

} // End of .survey-promo component.
