// _components.scss
//


.markup {
  color: #333;
  font-family: Arial, sans-serif;

  h1,
  h2,
  h3 {
    letter-spacing: 0;
  }
}

// TOP STORIES
//////////////|

.top-stories {

  .title {

    .heading {
      @extend %pica;
      margin-top: 0;
      margin-bottom: 0;
    }
      .heading__stitch {
        background-color: #CC0101;
        height: 2px;
        margin-bottom: 2px;
        width: 36px;
      }
  }

}

// STREAM
/////////|

.stream {

  .header {

    .header-wrap {
      background: #EEE;
      height: 48px;
      overflow: hidden;
      padding: 12px 8px 0;
      position: relative;

      h2 {
        @extend %pica;
        font-weight: normal;
        margin-top: 0;
        margin-bottom: 0;
        white-space: nowrap;
      }
        .latest {
          @extend %minion;
          background-color: #CC0101;
          color: #FFF;
          margin-right: 2px;
          padding: 2px 4px;
          text-transform: uppercase;
          vertical-align: middle;
        }
        .location {
          vertical-align: middle;
        }
      button {
        @extend %pica;
        background-color: #DDD;
        padding: 4px 8px 8px;
        position: absolute;
          top: 9px; right: 8px;
        height: 30px;

        span {
          display: none;
          margin-right: 2px;
          vertical-align: middle;
        }
        img {
          height: 20px;
          width: 20px;
          vertical-align: middle;
        }
      }
    }
  }

  .timestamp {

    time {
      @extend %long-primer;
      color: #606060;
    }
  }

  .show-more {

    button {
      @extend %pica;
      color: #FFF;
      border-bottom: 2px solid #315E2C;
      background-color: #499243;
      font-weight: bold;
      padding: 10px;
      width: 100%;
    }
  }
}
