// _mixins.scss

$groups: (
  B: "(max-width: 599px)",
  C: "(min-width: 600px)",
  D: "(min-width: 1008px)"
);

@mixin respond-to($group) {
  $breakpoint: map-get($groups, $group);

  @if $breakpoint == null {

    @warn "Group not found."

  } @else {

    @media #{$breakpoint} {
      @content;
    }

  }
}
