// main.scss
//

@import 'mixins';
@import 'typography';
@import 'icons';

$stream-max-width: 650px;

* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}
html {
  box-sizing: inherit;
}
body {
  color: #444;
  font-size: $base-font-size;
  line-height: $base-line-height; // 1.4
  // -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3 {
  font-weight: normal;
  letter-spacing: -0.75px;
}
h1 {
  font-size: $h1-font-size;
  line-height: $h1-line-height;
  margin-top: $h1-margin-top * 1.5;
  margin-bottom: $h1-margin-bottom / 2;
}
h2 {
  font-size: $h2-font-size;
  line-height: $h2-line-height;
  margin-top: $h2-margin-top * 1.5;
  margin-bottom: $h2-margin-bottom / 2;
}
h3 {
  font-size: $h3-font-size;
  line-height: $h3-line-height;
  margin-top: $h3-margin-top * 1.5;
  margin-bottom: $h3-margin-bottom / 2;
}
a {
  color: inherit;
  text-decoration: none;
}
button {
  border: none;
  padding: 0;

  &:focus {
    outline: none;
  }
}

// PAGE
//

header {
  @extend %clearfix;
  background-color: #CC0101;
  box-shadow: 0 2px 5px rgba(0,0,0,0.35);
  padding: $base-line-height/2 0;
  position: fixed;
    top: 0; left: 0;
  width: 100%;
  z-index: 100;
  -webkit-font-smoothing: antialiased;

  h1 {
    color: #FFF;
    font-size: $base-font-size;
    float: left;
    font-weight: bold;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 0;
  }
}
  .header-inner {
    margin: 0 auto;
    max-width: 976px;
  }

  .display-group {
    color: #FFF;
    cursor: help;
    float: right;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 0;
  }
    .display-group__a {
      @include respond-to(B) { display: none; }
      @include respond-to(C) { display: none; }
    }
    .display-group__b,
    .display-group__c,
    .display-group__d {
      display: none;
    }
    .display-group__b {
      @include respond-to(B) { display: inline; }
    }
    .display-group__c {
      @include respond-to(C) { display: inline; }
      @include respond-to(D) { display: none; }
    }
    .display-group__d {
      @include respond-to(D) { display: inline; }
    }

.page {
  padding-top: $base-line-height;
  padding-bottom: $base-line-height * 4;
  margin: 0 auto;
  max-width: 976px;
}
.footer {
  border-top: 1px solid #DDD;
  padding-top: $base-line-height;
  padding-bottom: $base-line-height * 4;
  margin: 0 auto;
  max-width: 976px;
  position: relative;
  text-align: center;
}
  .footer__top {
    display: block;
    position: absolute;
      top: $base-line-height; right: 0;
  }

// Component
.component {

}
  .component__menu {
    @extend %clearfix;
    border-bottom: 1px solid #888;

    h2 {
      float: left;
      margin-right: 32px;
    }
  }
    .component__tabs {
      @extend %nav;
      float: left;
      margin-bottom: 0;
      margin-top: 64px;
      -webkit-font-smoothing: antialiased;

      @include respond-to(C) {}

      li {
        margin-right: 4px;

        &.active {

          a {
            background-color: #888;
            color: #FFF;

            &:hover {
              background-color: #909090;
            }
          }
        }
      }
      a {
        background-color: #EEE;
        display: block;
        font-weight: bold;
        margin-top: 8px;
        padding: 8px 8px 19px;

        &:hover {
          background-color: #E6E6E6;
        }
      }
    }

// Panels
.panel {}
  .panel--furniture {}

  // The panels hidden by default
  .panel--content,
  .panel--demo {
    display: none;
  }

  .panel--content {
    max-width: $stream-max-width;
  }
  .panel--demo {
    padding-top: $base-line-height * 2;
  }

// Element
.element {}
  .element__status {
    color: #FFF;
    border-radius: 3px;
    background-color: #5CB85C;
    font-size: $base-font-size;
    padding: 2px 4px;
  }

// Markup
.markup {
  background-image: url('../img/checker.png');
  border-radius: 5px;
  padding: 6px 0;

  // Space adjacent .markup's
  + .markup {
    margin-top: $base-line-height/2;
  }

  @include respond-to(C) {
    padding: 6px;
  }
}

@import 'components';

// Objects
//

%nav {
  @extend %clearfix;
  list-style: none;
  padding-left: 0;

  > li {
    float: left;
  }
}

.icon {
  background-size: contain;
  display: inline-block;
  height: 32px;
  width: 32px
}
.icon--m {
  height: 24px;
  width: 24px;
}
.icon--s {
  height: 16px;
  width: 16px;
}
.icon--xs {
  height: 13px;
  width: 13px;
}

// Utility
//

%clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
