// main.scss
//

@import 'mixins';
@import 'typography';

* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}
html {
  box-sizing: inherit;
}
body {
  color: #888;
  font-size: $base-font-size;
  line-height: $base-line-height; // 1.4
  // -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3 {
  font-weight: normal;
  letter-spacing: -0.75px;
}
h1 {
  font-size: $h1-font-size;
  line-height: $h1-line-height;
  margin-top: $h1-margin-top;
  margin-bottom: $h1-margin-bottom;
}
h2 {
  font-size: $h2-font-size;
  line-height: $h2-line-height;
  margin-top: $h2-margin-top;
  margin-bottom: $h2-margin-bottom;
}
h3 {
  font-size: $h3-font-size;
  line-height: $h3-line-height;
  margin-top: $h3-margin-top;
  margin-bottom: $h3-margin-bottom;
}
a {
  color: inherit;
  text-decoration: none;
}
button {
  border: none;
  padding: 0;

  &:focus {
    outline: none;
  }
}

// PAGE
//

.display-group {
  background-color: #000;
  color: #FFF;
  cursor: help;
  margin-top: 0;
  opacity: 0.8;
  padding: $base-line-height / 4;
  position: fixed;
    top: 0; left: 72px;
  z-index: 100;
}
  .display-group__a {
    @include respond-to(B) { display: none; }
    @include respond-to(C) { display: none; }
  }
  .display-group__b,
  .display-group__c,
  .display-group__d {
    display: none;
  }
  .display-group__b {
    @include respond-to(B) { display: inline; }
  }
  .display-group__c {
    @include respond-to(C) { display: inline; }
    @include respond-to(D) { display: none; }
  }
  .display-group__d {
    @include respond-to(D) { display: inline; }
  }

.page {
  padding-bottom: $base-line-height * 4;

  @include respond-to(C) {
    margin: 0 64px;
  }
}
.footer {
  margin-top: $base-line-height * 4;
  position: relative;
  text-align: center;
}
  .footer__top {
    border: 1px solid;
    display: block;
    padding: $base-line-height/4 $base-line-height/2;
    position: absolute;
      top: 0; right: 0;
  }

// Component
.component {}
  .component__menu {
    @extend %clearfix;
    border-bottom: 1px solid #888;

    h2 {
      float: left;
    }
  }
    .component__tabs {
      @extend %nav;
      float: left;
      margin-top: 64px;
      margin-bottom: 0;
      margin-left: 32px;
      -webkit-font-smoothing: antialiased;

      li {
        margin-right: 4px;

        &.active {

          a {
            background-color: #888;
            color: #FFF;
          }
        }
      }
      a {
        background-color: #EEE;
        display: block;
        font-weight: bold;
        padding: 8px 8px 36px;
      }
    }

// Panels
.panel {}
  .panel--furniture {}
  .panel--posts {
    display: none;
  }

// Element
.element {}

// Markup
.markup {
  background-image: url('../img/checker.png');
  border-radius: 5px;
  padding: 6px 0;

  @include respond-to(C) {
    padding: 6px;
  }
}

@import 'components';

// Objects
//

%nav {
  @extend %clearfix;
  list-style: none;
  padding-left: 0;

  > li {
    float: left;
  }
}

// Utility
//

%clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
